<?xml version="1.0" encoding="UTF-8"?>
<beans profile="dev"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.1.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.kamiljurczak"/>
    <import resource="classpath:config/castle-config.xml"/>
    
    
    <bean id="quest" class="com.kamiljurczak.middle_ages_knights.domain.Quest" scope="prototype"/>
    <bean id="lancelot" class="com.kamiljurczak.middle_ages_knights.domain.Knight" scope="prototype" primary="true">
        <constructor-arg index="0" value="Lancelot"/>
        <constructor-arg index="1" value="29"/>
        <property name="quest" ref="quest"/>
    </bean>
    <bean id="percival" class="com.kamiljurczak.middle_ages_knights.domain.Knight" scope="prototype">
        <constructor-arg index="0" value="Percival"/>
        <constructor-arg index="1" value="29"/>
        <property name="quest" ref="quest"/>
    </bean>

    <task:scheduler id="myScheduler" pool-size="10"/>
    <task:scheduled-tasks>
        <task:scheduled ref="questRepository" method="createRandomQuest" fixed-rate="1000"/>
    </task:scheduled-tasks>
</beans>