<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Knight list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>imie rycerza</td>
                <td>wiek</td></tr>
        </thead>
        <tbody th:each="knight : ${knights}">
            <tr>
                <td th:text="${knight.name}"></td>
                <td th:text="${knight.age}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>